/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
	all: unset;
	display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
	cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
	list-style: none;
}

/* For images to not be able to exceed their container */
img {
	max-width: 100%;
}

/* removes spacing between cells in tables */
table {
	border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
	-webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
	white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
	-webkit-appearance: revert;
	appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
	color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
	display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
	-webkit-user-drag: element;
}

input, textarea {
	border: 0px solid;
}

html {
	font-family: 'Rubik', sans-serif;
}

html {
	font-size: 8px;
}

@media screen and (min-width: 560px) {
	html {
		font-size: calc(8px + 2 * ((100vw - 560px) / 688));
	}
}

@media screen and (min-width: 1248px) {
	html {
		font-size: 10px;
	}
}

body {
	font-size: 1.8rem;
}

h1 {
	font-size: 4rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #055477;
}

h2 {
	font-size: 4rem;
	font-weight: 400;
	color: #000;
}

h3 {
	font-size: 2.5rem;
	font-weight: 400;
	color: #000;
}

h4 {
	font-size: 1.8rem;
	font-weight: 700;
}

p {
	font-size: 1.8rem;
	font-weight: 400;
	margin-bottom: 2rem;
	line-height: 1.35em;
}

p a {
	transition: all .3s;
	color: #055477;
}

p a:hover {
	color: #F87000;
}

.standard-block {
	width: 100%;
	max-width: 130rem;
	margin: auto;
}

.wide-block {
	width: 100%;
}

.site-main {
	margin-top: 4rem;
}

.button {
	transition: all .3s;
	border: 2px solid #055477;
	font-size: 2rem;
	display: inline-block;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 1.5rem 4rem;
	min-width: 18rem;
	color: #055477;
	text-align: center;
}

.button:hover {
	background-color: #055477;
	color: #fff;
}

.button.orange {
	border: 2px solid #F87000;
	color: #F87000;
}

.button.orange:hover {
	background-color: #F87000;
	color: #fff;
}

.button a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.site-header {
	position: relative;
	z-index: 999;
}

.top-part {
	display: flex;
	padding: 4.5rem 0;
	justify-content: space-between;
	align-items: center;
}

.top-part .logo {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	flex: 0 0 30rem;
	height: 7rem;
	background-image: url(assets/img/logo.png);
	position: relative;
}

.top-part .logo a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.top-part .info-block {
	display: flex;
	align-items: center;
}

.top-part .info-block .info-entry {
	text-align: right;
	margin-right: 3rem;
}

.top-part .info-block .info-entry .info-val {
	transition: all .3s;
}

.top-part .info-block .info-entry .info-val:hover {
	color: #F87000;
}

.main-menu {
	padding: 0rem 2.5rem;
	background-color: #055477;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-menu .menu {
	display: flex;
}

.main-menu .menu > li {
	padding: 3rem 3.8rem;
	position: relative;
}

.main-menu .menu > li::before {
	content: '/';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.main-menu .menu > li.menu-item-has-children::after {
	content: '>';
	position: absolute;
	top: 50%;
	right: 2rem;
	transform: translateY(-50%);
}

.main-menu .menu > li.menu-item-has-children:hover > .sub-menu {
	max-height: 100vh;
}

.main-menu .menu > li.menu-item-has-children > .sub-menu {
	position: absolute;
	left: -2.5rem;
	top: 100%;
	background-color: #055477;
	max-height: 0;
	overflow: hidden;
}

.main-menu .menu > li.menu-item-has-children > .sub-menu > li {
	border-top: 1px solid #ffffffaa;
	width: 27.5rem;
}

.main-menu .menu > li.menu-item-has-children > .sub-menu > li a {
	padding: 1rem 2.5rem;
	display: inline-block;
	color: rgba(255, 255, 255, 0.5);
}

.main-menu .menu > li.menu-item-has-children > .sub-menu > li a:hover {
	color: #fff;
}

.main-menu .menu > li.menu-item-has-children > .sub-menu > li.menu-item-has-children > a::after {
	content: '  >';
	/* position: absolute;
                                top: 50%;
                                right: 2rem;
                                transform: translateY(-50%); */
}

.main-menu .menu > li.menu-item-has-children > .sub-menu > li:hover > .sub-menu {
	max-height: 100vh;
}

.main-menu .menu > li.menu-item-has-children > .sub-menu > li > .sub-menu {
	max-height: 0;
	overflow: hidden;
}

.main-menu .menu > li.menu-item-has-children > .sub-menu > li > .sub-menu li {
	background-color: #1A6D91;
	border-top: 1px solid #ffffffaa;
}

.main-menu .menu > li.menu-item-has-children > .sub-menu > li > .sub-menu li a {
	transition: all .3s;
	padding: 1rem 5.5rem;
	display: inline-block;
	color: rgba(255, 255, 255, 0.5);
}

.main-menu .menu > li.menu-item-has-children > .sub-menu > li > .sub-menu li a:hover {
	color: #fff;
}

.main-menu .menu > li:first-child {
	padding-left: 0;
}

.main-menu .menu > li:first-child::before {
	content: '';
}

.main-menu .social {
	display: flex;
}

.main-menu .social .icon-wrapper {
	width: 2rem;
	height: 2rem;
	position: relative;
	margin-left: 1.5rem;
}

.main-menu .social .icon-wrapper:hover path {
	fill: #F87000;
}

.main-menu .social .icon-wrapper svg path {
	transition: all .3s;
}

.main-menu .social .icon-wrapper a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.site-footer {
	background-color: #F87000;
	padding: 5rem 0;
}

.site-footer .menu-wrapper {
	display: flex;
}

.site-footer .menu-wrapper .footer-menu-col {
	flex: 0 0 33%;
}

.site-footer .menu-wrapper .footer-menu-col .footer-menu-title {
	font-weight: 700;
	margin-bottom: 3.5rem;
	color: #fff;
}

.site-footer .menu-wrapper .footer-menu-col a {
	color: #fff;
	line-height: 1.5em;
}

.site-footer .copyright {
	margin-top: 5rem;
	color: #ffffffaa;
}

.page-block {
	margin-bottom: 6rem;
}

.page-block > *:first-child {
	margin-top: 0;
}

.page-block > *:last-child {
	margin-bottom: 0;
}

.page-block-background {
	padding: 8rem 0;
	background-color: rgba(5, 84, 119, 0.05);
	margin-bottom: 6rem;
}

.page-block-background .page-block {
	margin-bottom: 0rem;
}

.main-slider {
	width: 100%;
	height: 65rem;
	margin: -8rem auto 4rem;
}

.main-slider .slide {
	background-size: cover;
	background-position: center;
}

.main-slider .slide .slide-content {
	padding-top: 9rem;
}

.main-slider .slide .slide-content .slide-content-top {
	margin-bottom: 4rem;
	max-width: 45rem;
}

.main-slider .slide .slide-content .slide-content-top .slide-header {
	font-size: 4rem;
	font-weight: 700;
	margin-bottom: 0;
}

.main-slider .slide .slide-content .slide-content-top .slide-subheader {
	font-size: 2.5rem;
	margin-top: 1rem;
}

.main-slider .slide .slide-content .slide-content-body {
	max-width: 45rem;
	margin-bottom: 2rem;
}

.main-slider .swiper-pagination.standard-block {
	left: 50%;
	bottom: 6rem;
	transform: translateX(-50%);
	text-align: left;
}

.main-slider .swiper-pagination.standard-block .swiper-pagination-bullet {
	background-color: transparent;
	border: 1px solid #fff;
	opacity: 1;
}

.main-slider .swiper-pagination.standard-block .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #fff;
}

.main-slider .swiper-button-prev, .main-slider .swiper-button-next {
	color: #fff;
}

.text_block {
	line-height: 1.5em;
}

.text_block p {
	margin-bottom: 2rem;
}

.text_block h1 {
	margin: 5rem 0 2rem;
}

.text_block h2 {
	margin: 3.5rem 0 2rem;
}

.text_block h3 {
	margin: 2.5rem 0 2rem;
}

.text_block ul, .text_block ol {
	padding-left: 5rem;
	margin-bottom: 2rem;
}

.text_block ul li {
	position: relative;
}

.text_block ul li::before {
	content: '';
	position: absolute;
	left: -2rem;
	top: .7rem;
	width: 1rem;
	height: 1rem;
	background-color: #055477;
}

.text_block ol li {
	list-style-type: decimal;
}

.multiple-items.grid .grid-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.multiple-items.grid .grid-wrapper.items-1 .grid-entry-wrapper {
	flex: 0 0 100%;
}

.multiple-items.grid .grid-wrapper.items-2 .grid-entry-wrapper {
	flex: 0 0 50%;
}

.multiple-items.grid .grid-wrapper.items-3 .grid-entry-wrapper {
	flex: 0 0 33.3%;
}

.multiple-items.grid .grid-wrapper.items-4 .grid-entry-wrapper {
	flex: 0 0 25%;
}

.multiple-items.grid .grid-wrapper.items-5 .grid-entry-wrapper {
	flex: 0 0 20%;
}

.multiple-items.grid .grid-wrapper.items-6 .grid-entry-wrapper {
	flex: 0 0 16.6%;
}

.multiple-items.grid .grid-wrapper .entry {
	padding: 1rem;
	margin-bottom: 2rem;
}

.multiple-items.with-background .entry {
	background-color: rgba(5, 84, 119, 0.05);
}

.multiple-items.with-background .entry .item-data {
	padding: 0 2rem 2rem;
}

.multiple-items .entry .item-image {
	background-size: cover;
	background-position: center;
	padding-top: 50%;
	margin-bottom: 3rem;
}

.multiple-items .entry .item-title {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 1.5rem;
}

.quote_block {
	display: flex;
}

.quote_block.has-img .the-quote {
	padding-left: 2rem;
}

.quote_block .image {
	background-size: cover;
	background-position: center;
	flex: 0 0 40rem;
	height: 28rem;
}

.quote_block .the-quote {
	flex: 1 1 100%;
}

.quote_block .the-quote .content {
	font-size: 2.5rem;
	padding-top: 5.5rem;
	font-weight: 100;
	margin-bottom: 3rem;
	background-image: url(assets/img/quote.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 2.7rem;
}

.quote_block .the-quote .author {
	font-size: 2.5rem;
	font-weight: 500;
}

.quote_block .the-quote .author-position {
	font-size: 1.8rem;
}

.faq_block .faq-item {
	margin-bottom: 5rem;
}

.faq_block .faq-item .question {
	font-size: 4rem;
	color: #055477;
}

.faq_block .faq-item .answer {
	transition: all .3s;
	padding-top: 3rem;
	font-size: 1.8rem;
	max-height: 70rem;
	overflow: hidden;
	line-height: 1.5em;
}

.faq_block .faq-item.collapsed .answer {
	max-height: 0;
	padding-top: 0;
}

.form_block {
	max-width: 100rem;
	padding: 1.5rem;
	display: flex;
	justify-content: space-between;
}

.form_block.light-theme {
	background-color: #fff;
}

.form_block.light-theme .form-block-col {
	background-color: rgba(5, 84, 119, 0.05);
}

.form_block.light-theme .form-block-col.left-block {
	padding: 3rem;
}

.form_block.orange-theme {
	background-color: #F87000;
}

.form_block.orange-theme .form-block-col {
	background-color: #fff;
}

.form_block.orange-theme .form-block-col.left-block {
	background-color: transparent;
	color: #fff;
	padding: 1.5rem;
}

.form_block .form-block-col {
	flex: 0 0 calc( 50% - 0.75rem);
	position: relative;
}

.form_block .form-block-col.right-block {
	padding: 3rem;
}

.form_block .form-block-col .image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
}

.form_block .form-block-col .form-text-content .title {
	font-size: 4rem;
	margin-bottom: 3rem;
}

.form_block .form-block-col .form-text-content .description {
	font-size: 1.8rem;
}

.form_block .form-block-col .nf-form-cont input[type="text"], .form_block .form-block-col .nf-form-cont input[type="email"] {
	border: 0px solid;
	border-bottom: 1px solid #000;
	background-color: transparent;
	padding-left: 0;
}

.form_block .form-block-col .nf-form-cont textarea {
	background-color: transparent;
}

.icon-block-wrapper {
	margin-bottom: 6rem;
}

.icon-block-wrapper.orange {
	background-color: #F87000;
	color: #fff;
}

.icon-block-wrapper.orange .item-wrapper {
	border-right: 1px solid #fff;
}

.icon-block-wrapper.orange svg {
	fill: #fff;
}

.icon-block-wrapper.lightblue {
	background-color: rgba(5, 84, 119, 0.05);
}

.icon-block-wrapper.lightblue, .icon-block-wrapperlight {
	padding: 4rem 0 1rem;
}

.icon-block-wrapper.lightblue .page-block, .icon-block-wrapperlight .page-block {
	margin-bottom: 0;
}

.icon-block-wrapper.lightblue .item-wrapper .item, .icon-block-wrapperlight .item-wrapper .item {
	padding-left: 2rem;
}

.icon-block-wrapper.lightblue .item-wrapper .item .icon, .icon-block-wrapperlight .item-wrapper .item .icon {
	position: relative;
	margin-bottom: 4rem !important;
	text-align: right;
}

.icon-block-wrapper.lightblue .item-wrapper .item .icon::after, .icon-block-wrapperlight .item-wrapper .item .icon::after {
	content: '';
	position: absolute;
	width: 30%;
	bottom: -2.5rem;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 2px solid #055477;
}

.icon-block-wrapper.lightblue .item-wrapper .item .icon svg, .icon-block-wrapperlight .item-wrapper .item .icon svg {
	margin-left: auto;
}

.icon-block-wrapper .icon_block {
	display: flex;
}

.icon-block-wrapper .icon_block.grid-layout {
	flex-wrap: wrap;
	margin-bottom: -6rem;
}

.icon-block-wrapper .icon_block.grid-layout .item {
	display: flex;
	align-items: center;
	margin-bottom: 6rem;
	padding-right: 2rem;
}

.icon-block-wrapper .icon_block.grid-layout .item .icon {
	margin-bottom: 0rem !important;
	flex: 0 0 11rem;
}

.icon-block-wrapper .icon_block.grid-layout .item .icon::after {
	display: none;
}

.icon-block-wrapper .icon_block.grid-layout .item .data {
	padding-left: 4rem;
	position: relative;
}

.icon-block-wrapper .icon_block.grid-layout .item .data::before {
	content: '';
	position: absolute;
	border-left: 2px solid #000;
	left: 2rem;
	height: 50%;
	top: 50%;
	transform: translateY(-50%);
}

.icon-block-wrapper .icon_block.strip-layout .item-wrapper .item {
	margin: auto;
	text-align: center;
	padding: 4.5rem 10%;
}

.icon-block-wrapper .icon_block.items-1 .item-wrapper {
	flex: 0 0 100%;
}

.icon-block-wrapper .icon_block.items-2 .item-wrapper {
	flex: 0 0 50%;
}

.icon-block-wrapper .icon_block.items-3 .item-wrapper {
	flex: 0 0 33.33333%;
}

.icon-block-wrapper .icon_block.items-4 .item-wrapper {
	flex: 0 0 25%;
}

.icon-block-wrapper .icon_block.items-5 .item-wrapper {
	flex: 0 0 20%;
}

.icon-block-wrapper .icon_block.items-6 .item-wrapper {
	flex: 0 0 16.66667%;
}

.icon-block-wrapper .icon_block.items-7 .item-wrapper {
	flex: 0 0 14.28571%;
}

.icon-block-wrapper .icon_block.items-8 .item-wrapper {
	flex: 0 0 12.5%;
}

.icon-block-wrapper .icon_block .item-wrapper {
	position: relative;
}

.icon-block-wrapper .icon_block .item-wrapper .item .icon {
	height: 8rem;
	width: 11rem;
	margin-bottom: 2rem;
}

.icon-block-wrapper .icon_block .item-wrapper .item .icon svg {
	max-height: 8rem;
}

.icon-block-wrapper .icon_block .item-wrapper .item .title {
	font-weight: 700;
	margin-bottom: .5rem;
	line-height: 1.5em;
}

.icon-block-wrapper .icon_block .item-wrapper .item .description {
	line-height: 1.5em;
}

.icon-block-wrapper .icon_block .item-wrapper .item a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.slder-with-bg-wrapper {
	padding-top: 70vh;
	position: relative;
}

.slder-with-bg-wrapper .backgrounds-wrapper .background {
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all .3s;
	opacity: 0;
}

.slder-with-bg-wrapper .backgrounds-wrapper .background.active {
	opacity: 1;
}

.slder-with-bg-wrapper .standard-block {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.slder-with-bg-wrapper .standard-block .slides-content-wrapper {
	flex: 0 0 40%;
}

.slder-with-bg-wrapper .standard-block .slides-content-wrapper .slide-wrapper {
	transition: all .3s;
	background-color: #ffffffaa;
	padding: 0;
	overflow: hidden;
	max-height: 0;
}

.slder-with-bg-wrapper .standard-block .slides-content-wrapper .slide-wrapper.active {
	padding: 4rem 2rem;
	max-height: 100vh;
}

.slder-with-bg-wrapper .standard-block .slides-content-wrapper .slide-wrapper .title {
	font-size: 2rem;
	font-weight: 700;
}

.slder-with-bg-wrapper .standard-block .slides-content-wrapper .slide-wrapper .title + .description {
	margin-top: 2rem;
}

.slder-with-bg-wrapper .standard-block .slides-content-wrapper .bullets {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.slder-with-bg-wrapper .standard-block .slides-content-wrapper .bullets .bulletpoint {
	width: 1.3rem;
	height: 1.3rem;
	border: 1px solid #fff;
	border-radius: 50%;
	cursor: pointer;
	margin: 0 .7rem;
}

.slder-with-bg-wrapper .standard-block .slides-content-wrapper .bullets .bulletpoint.active {
	background-color: #fff;
}

.gallery-slide {
	display: flex;
	flex-wrap: wrap;
}

.gallery-slide.counter-1 .slide-img-wrapper:first-child {
	flex: 0 0 100%;
}

.gallery-slide.counter-2 .slide-img-wrapper:last-child {
	flex: 0 0 100%;
}

.gallery-slide.items-2 .slide-img-wrapper {
	flex: 0 0 100%;
}

.gallery-slide.items-1 .slide-img-wrapper {
	flex: 0 0 100%;
}

.gallery-slide.items-1 .slide-img {
	padding-top: 52rem;
}

.gallery-slide .slide-img-wrapper {
	flex: 0 0 50%;
	padding: 1rem;
}

.gallery-slide .slide-img {
	background-size: cover;
	background-position: center;
	position: relative;
	padding-top: 25rem;
}

.gallery-slide .slide-img a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.text_with_image-block {
	display: flex;
	align-items: center;
}

.text_with_image-block.img-right .content-wrapper {
	flex: 0 0 70%;
	padding-left: 0rem;
	padding-right: 4rem;
}

.text_with_image-block.img-right .image-wrapper {
	order: 2;
}

.text_with_image-block .image-wrapper {
	flex: 0 0 30%;
}

.text_with_image-block .image-wrapper .image {
	background-size: cover;
	background-position: center;
	padding-top: 150%;
}

.text_with_image-block .content-wrapper {
	flex: 0 0 70%;
	padding-left: 4rem;
}

.date-selector {
	display: flex;
	padding: 0 2rem;
	margin-bottom: 2rem;
}

.date-selector .date-opt {
	transition: all .3s;
	flex-grow: 1;
	color: #fff;
	padding: 2rem;
	text-align: center;
	background-color: rgba(5, 84, 119, 0.8);
	cursor: pointer;
}

.date-selector .date-opt.active {
	background-color: #055477;
}

.event-contents .day-entry {
	transition: all .3s;
	max-height: 0;
	overflow: hidden;
}

.event-contents .day-entry.active {
	max-height: 1000vh;
}

.event-contents .day-entry .event-entry {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding: 2rem 0;
}

.event-contents .day-entry .event-entry:last-child {
	border-bottom: 0px;
}

.event-contents .day-entry .event-entry .time {
	flex: 0 0 20rem;
	font-size: 3em;
	color: #999;
}

.event-contents .day-entry .event-entry .title {
	font-weight: 700;
	margin-bottom: 1rem;
}

.event-contents .day-entry .event-entry .description {
	line-height: 1.5em;
	color: #999;
}

/*# sourceMappingURL=style.css.map */