.date-selector {
    display: flex;
    padding: 0 2rem;
    margin-bottom: 2rem;

    .date-opt {
        @include transition;
        flex-grow: 1;
        color: #fff;
        padding: 2rem;
        text-align: center;
        background-color: rgba( $blue, .8);
        cursor: pointer;

        &.active {
            background-color: $blue;
        }

        
    }
}

.event-contents {
    .day-entry {
        @include transition;
        max-height:0;
        overflow: hidden;

        &.active {
            max-height: 1000vh;
        }

        .event-entry {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ccc;
            padding: 2rem 0;

            &:last-child {
                border-bottom: 0px;
            }

            .time {
                flex: 0 0 20rem;
                font-size: 3em;
                color: #999;
            }

            .title {
                font-weight: 700;
                margin-bottom: 1rem;
            }

            .description {
                line-height: 1.5em;
                color: #999;
            }
        }
    }
}