.faq_block {
    .faq-item {
        margin-bottom: 5rem;

        .question {
            font-size: 4rem;
            color: $blue;
        }

        .answer {
            @include transition;
            padding-top: 3rem;
            font-size: 1.8rem;
            max-height: 70rem;
            overflow: hidden;
            line-height: 1.5em;
        }

        &.collapsed {
            .answer {
                max-height: 0;
                padding-top:0;
            }
        }
    }
}