.form_block {
    max-width: 100rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;

    &.light-theme  {
        background-color: #fff;
        .form-block-col {
            background-color: rgba( $blue, 0.05 );

            &.left-block {
                padding: 3rem;
            }
        }
    }

    &.orange-theme {
        background-color: $orange;

        .form-block-col {
            background-color: #fff;

            &.left-block {
                background-color: transparent;
                color: #fff;
                padding: 1.5rem;
            }
        }
    }

    .form-block-col {
        flex: 0 0 calc( 50% - 0.75rem );
        position: relative;

        &.right-block {
            padding: 3rem;
        }

        .image {
            @include strech;
            @include cover;
        }

        .form-text-content {
            .title {
                font-size: 4rem;
                margin-bottom: 3rem;
            }

            .description {
                font-size: 1.8rem;;
            }
        }

        .nf-form-cont {
            input[type="text"], input[type="email"] {
                border:0px solid;
                border-bottom: 1px solid #000;
                background-color: transparent;
                padding-left:0;
            }

            textarea {
                background-color: transparent;
            }
        }
    }
}