$galHeight: 25rem;

.gallery-slide {
    display: flex;
    flex-wrap: wrap;

    &.counter-1 {
        .slide-img-wrapper {
            &:first-child {
                flex: 0 0 100%;
            }
        }
    }

    &.counter-2 {
        .slide-img-wrapper {
            &:last-child {
                flex: 0 0 100%;
            }
        }
    }

    &.items-2 {
        .slide-img-wrapper {
            flex: 0 0 100%;
        }
    }

    &.items-1 {
        .slide-img-wrapper {
            flex: 0 0 100%;
        }
        .slide-img {
            padding-top: $galHeight * 2 + 1rem * 2;
        }
    }

    .slide-img-wrapper {
        flex: 0 0 50%;
        padding: 1rem;
    }

    .slide-img {
        @include cover;
        position: relative;
        padding-top: $galHeight;

        a {
            @include strech;
        }
    }
}