.icon-block-wrapper {
    margin-bottom: 6rem;

    &.light {}

    &.orange {
        background-color: $orange;
        color: #fff;

        .item-wrapper {
            border-right: 1px solid #fff;
        }

        svg {
            fill: #fff;
        }
    }

    &.lightblue {
        background-color: rgba($blue, 0.05);


    }

    &.lightblue,
    &light {
        padding: 4rem 0 1rem;

        .page-block  {
            margin-bottom:0;
        }

        .item-wrapper {
            .item {
                padding-left: 2rem;
                .icon {
                    position: relative;
                    margin-bottom: 4rem !important;
                    text-align: right;

                    &::after {
                        @include pseudo;
                        width: 30%;
                        bottom: -2.5rem;
                        left: 50%;
                        transform: translateX(-50%);
                        border-bottom: 2px solid $blue;
                    }

                    svg {
                        margin-left: auto;
                    }
                }
            }
        }
    }

    .icon_block {
        display: flex;

        &.grid-layout {
            flex-wrap: wrap;
            margin-bottom: -6rem;

            .item {
                display: flex;
                align-items: center;
                margin-bottom: 6rem;
                padding-right: 2rem;

                .icon {
                    margin-bottom: 0rem !important;
                    flex: 0 0 11rem;
                    &::after {
                        display: none;
                    }
                }

                .data {
                    padding-left: 4rem;
                    position: relative;

                    &::before {
                        @include pseudo;
                        border-left: 2px solid #000;
                        left: 2rem;
                        height: 50%;
                        top: 50%;
                        transform: translateY( -50% );
                    }
                }
            }

        }

        &.strip-layout {
            .item-wrapper {
                .item {

                    margin: auto;
                    text-align: center;
                    padding: 4.5rem 10%;

                }
            }
        }

        @for $i from 1 through 8 {
            &.items-#{$i} {
                .item-wrapper {
                    flex: 0 0 100% / $i
                }
            }
        }

        .item-wrapper {
            position: relative;

            .item {
                .icon {
                    height: 8rem;
                    width: 11rem;
                    margin-bottom: 2rem;

                    svg {
                        max-height: 8rem;
                    }
                }

                .title {
                    font-weight: 700;
                    margin-bottom: .5rem;
                    line-height: 1.5em;
                }

                .description {
                    line-height: 1.5em;
                }

                a {
                    @include strech;
                }
            }
        }

    }
}