.multiple-items {

    &.grid {
        
        .grid-wrapper {
            display: flex;
            flex-wrap: wrap;
            &.items-1 { .grid-entry-wrapper { flex: 0 0 100%; } }
            &.items-2 { .grid-entry-wrapper { flex: 0 0 50%; } }
            &.items-3 { .grid-entry-wrapper { flex: 0 0 33.3%; } }
            &.items-4 { .grid-entry-wrapper { flex: 0 0 25%; } }
            &.items-5 { .grid-entry-wrapper { flex: 0 0 20%; } }
            &.items-6 { .grid-entry-wrapper { flex: 0 0 16.6%; } }

            .entry {
                padding: 1rem;
                margin-bottom: 2rem;
            }
        }
    }

    &.with-background {
        .entry {
            background-color: rgba( $blue, .05 );
            .item-data {
                padding: 0 2rem 2rem;
            }
        }
    }

    .entry {
        .item-image {
            @include cover;
            padding-top: 50%;
            margin-bottom: 3rem;
        }

        .item-title {
            font-size: 2.5rem;
            font-weight: 500;
            margin-bottom: 1.5rem;
        }
    }
}