.page-block {
    margin-bottom: 6rem;

    &>*:first-child {
        margin-top:0;
    }

    &>*:last-child {
        margin-bottom:0;
    }
}

.page-block-background {
    padding: 8rem 0;
    background-color: rgba($blue, .05);
    margin-bottom: 6rem;

    .page-block {
        margin-bottom: 0rem;
    }
}