.quote_block {
    display: flex;

    &.has-img {
        .the-quote {
            padding-left: 2rem;
        }
    }

    .image {
        @include cover;
        flex: 0 0 40rem;
        height: 28rem;
    }

    .the-quote {
        flex: 1 1 100%;

        .content {
            font-size: 2.5rem;
            padding-top: 5.5rem;
            font-weight: 100;
            margin-bottom: 3rem;
            background-image: url(assets/img/quote.png);
            background-position: left top;
            background-repeat: no-repeat;
            background-size: 2.7rem;
        }

        .author {
            font-size: 2.5rem;
            font-weight: 500;
        }

        .author-position {
            font-size: 1.8rem;
        }
    }
}