.main-slider {
    width: 100%;
    height: 65rem;
    margin: -8rem auto 4rem;

    .slide {
        @include cover;

        .slide-content {
            padding-top: 9rem;
            

            .slide-content-top {
                margin-bottom: 4rem;
                max-width: 45rem;

                .slide-header {
                    font-size: 4rem;
                    font-weight: 700;
                    margin-bottom:0;
                }
    
                .slide-subheader {
                    font-size: 2.5rem;
                    margin-top: 1rem;
                }
            }

            .slide-content-body {
                max-width: 45rem;
                margin-bottom: 2rem;
            }
        }
    }

    .swiper-pagination.standard-block  {
        left: 50%;
        bottom: 6rem;
        transform: translateX(-50%);
        text-align: left;

        .swiper-pagination-bullet {
            background-color: transparent;
            border: 1px solid #fff;
            opacity: 1;
            
            &.swiper-pagination-bullet-active {
                background-color: #fff;
            }
        }
    }

    .swiper-button-prev,.swiper-button-next {
        color: #fff;
    }
    
}