.slder-with-bg-wrapper {
    padding-top: 70vh;
    position: relative;

    .backgrounds-wrapper {

        .background {
            @include cover;
            @include strech;
            @include transition;
            opacity:0;

            &.active {
                opacity: 1;
            }
        }
    }

    .standard-block {
        @include strech;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .slides-content-wrapper {
            flex: 0 0 40%;

            .slide-wrapper {
                @include transition;
                background-color: #ffffffaa;
                padding: 0;
                overflow: hidden;
                max-height: 0;

                &.active {
                    padding: 4rem 2rem;
                    max-height: 100vh;
                }

                .title {
                    font-size: 2rem;
                    font-weight: 700;

                    &+.description {
                        margin-top: 2rem;
                    }
                }
            }

            .bullets {
                display: flex;
                justify-content: center;
                margin-top: 2rem;

                .bulletpoint {
                    width: 1.3rem;
                    height: 1.3rem;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    cursor: pointer;
                    margin: 0 .7rem;

                    &.active {
                        background-color: #fff;
                    }
                }
            }
        }
    }
}