.text_with_image-block {
    display: flex;
    align-items: center;

    &.img-right {
        .content-wrapper {
            flex: 0 0 70%;
            padding-left: 0rem;
            padding-right: 4rem;
        }

        .image-wrapper {
            order: 2;
        }
    }

    .image-wrapper {
        flex: 0 0 30%;

        .image {
            @include cover;
            padding-top: 150%;
        }
    }

    .content-wrapper {
        flex: 0 0 70%;
        padding-left: 4rem;
    }
}