$textBlockBottomMargin: 2rem;

.text_block {
    line-height: 1.5em;
    p {
        margin-bottom: $textBlockBottomMargin;
    }

    h1 {
        margin: 5rem 0 $textBlockBottomMargin;
    }

    h2 {
        margin: 3.5rem 0 $textBlockBottomMargin;
    }

    h3 {
        margin: 2.5rem 0 $textBlockBottomMargin;
    }

    ul, ol {
        padding-left: 5rem;
        margin-bottom: $textBlockBottomMargin;
    }

    ul {
        li {
            position: relative;
            &::before {
                @include pseudo;
                left: -2rem;
                top: .7rem;
                width: 1rem;
                height: 1rem;
                background-color: $blue;
            }
        }
    }

    ol {
        li {
            list-style-type: decimal;
        }
    }
} 