$breakpoints: (
    "xs": 400px,
    "sm": 560px,
    "md": 768px,
    "lg": 1024px,
    "xl": 1248px,
    "xxl": 1440px
);

@mixin mq($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);

        @if $type==max {
            $width: $width - 1px;
        }

        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

// Pseudo element setup
@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

//fluid typography setup
@function strip-unit($value) { 
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-font-size, $max-font-size, $min-vw: map_get($breakpoints, 'sm'), $max-vw: map_get($breakpoints, 'xl') ) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
        & {
            font-size: $min-font-size;

            @media screen and (min-width: $min-vw) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }

            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}

@mixin strech {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

@mixin cover {
    background-size: cover;
    background-position: center;
}

@mixin contain {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin transition {
    transition: all .3s;
}

@mixin pseudo {
    content: '';
    position: absolute;
}