.standard-block {
    width: 100%;
    max-width: 130rem;
    margin: auto;
}

.wide-block {
    width: 100%;
}

.site-main {
    margin-top: 4rem;
}

.button {
    @include transition;
    border: 2px solid $blue;
    font-size: 2rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1.5rem 4rem;
    min-width: 18rem;
    color: $blue;
    text-align: center;
    
    &:hover {
        background-color: $blue;
        color: #fff;
    }

    &.orange {
        border: 2px solid $orange;
        color: $orange;

        &:hover {
            background-color: $orange;
            color: #fff;
        }
    }

    a {
        @include strech;
    }
}