html { 
    //font-family: 'Rubik', sans-serif;
    @include fluid-type(8px, 10px);
    font-family: 'Rubik', sans-serif;
}

body {
    font-size: 1.8rem;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $blue;
}

h2 {
    font-size: 4rem;
    font-weight: 400;
    color: #000;
}

h3 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #000;
}

h4 {
    font-size: 1.8rem;
    font-weight:700;
}

p {
    font-size: 1.8rem;
    font-weight:400;
    margin-bottom: 2rem;
    line-height: 1.35em;

    a {
        @include transition;
        color: $blue;

        &:hover {
            color: $orange;
        }
    }
} 