.site-footer {
    background-color: $orange;
    padding: 5rem 0;

    .menu-wrapper {
        display: flex;

        .footer-menu-col {
            flex: 0 0 33%;

            .footer-menu-title {
                font-weight: 700;
                margin-bottom: 3.5rem;
                color: #fff;
            }

            a {
                color: #fff;
                line-height: 1.5em;
            }
        }
    }

    .copyright {
        margin-top: 5rem;
        color: #ffffffaa;
    }
}