.site-header {
    position: relative;
    z-index: 999;
}

.top-part {
    display: flex;
    padding: 4.5rem 0;
    justify-content: space-between;
    align-items: center;

    .logo {
        @include contain;
        flex: 0 0 30rem;
        height: 7rem;
        background-image: url(assets/img/logo.png );
        position: relative;

        a {
            @include strech;
        }
    }

    .info-block {
        display: flex;
        align-items: center;

        .info-entry {
            text-align: right;
            margin-right: 3rem;

            .info-val {
                @include transition;

                &:hover {
                    color: $orange;
                }
            }
        }
    }
}

.main-menu {
    padding: 0rem 2.5rem;
    background-color: $blue;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
        display: flex;

        &>li {
            padding: 3rem 3.8rem;
            position: relative;

            &::before {
                content: '/';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            &.menu-item-has-children {
                &::after {
                    content: '>';
                    position: absolute;
                    top: 50%;
                    right: 2rem;
                    transform: translateY(-50%);
                }

                &:hover {
                    &>.sub-menu {
                        max-height: 100vh;
                    }
                }

                &>.sub-menu {
                    position: absolute;
                    left: -2.5rem;
                    top: 100%;
                    background-color: $blue;
                    max-height: 0;
                    overflow: hidden;



                    &>li {
                        border-top: 1px solid #ffffffaa;
                        width: 27.5rem;

                        a {
                            padding: 1rem 2.5rem;
                            display: inline-block;
                            color: rgba(#fff, .5);

                            &:hover {
                                color: #fff;
                            }
                        }

                        &.menu-item-has-children {

                            &>a::after {
                                content: '  >';
                                /* position: absolute;
                                top: 50%;
                                right: 2rem;
                                transform: translateY(-50%); */
                            }
                        }

                        &:hover {
                            &>.sub-menu {
                                max-height: 100vh;
                            }
                        }

                        &>.sub-menu {
                            max-height: 0;
                            overflow: hidden;

                            li {
                                background-color: #1A6D91;
                                border-top: 1px solid #ffffffaa;

                                a {
                                    @include transition;
                                    padding: 1rem 5.5rem;
                                    display: inline-block;
                                    color: rgba(#fff, .5);

                                    &:hover {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &:first-child {
                padding-left: 0;

                &::before {
                    content: '';
                }
            }

        }

        
    }

    .social {
        display: flex;


        .icon-wrapper {
            width: 2rem;
            height: 2rem;
            position: relative;
            margin-left: 1.5rem;

            &:hover {
                path {
                    fill: $orange;
                }
            }

            svg { 
                path {
                    @include transition;
                }
            }

            a {
                @include strech;
            }
        }
    }
}